.center{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.justify{
    text-align: justify;
}

body{
  background-color: #f6f0a9;
}

/*add style for new_user page*/
/*added to articles page*/
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    height: 50px;
    overflow: auto;
    text-align: center;

}

/*li a:active {
    background-color: beige;
    color: white;
}
*/
li a:hover {
    background-color: #555;  //blackish
    color: white;
}



#sidebar{
  background-color:#512826;
  border: 5px solid gold;
  width: 13%;
  list-style-type: none;
  padding: 0;
  float: left;
  height: 100%;
  position: fixed;
  margin: 0;
}

img{
  margin-left: 40%;
  margin-bottom: 5%;
  width: 20%;
  border-radius: 10%;
}

/*modify styling of content-text as its styling is applied to all pages*/

.content-text{
  float:left;
  padding-right: 5%;
  margin-left: 18%;
  margin-top: 3%;
}
